<!DOCTYPE html>
<html>

<head>
  <style>
    table {
      border-collapse: collapse;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <div style="width: 85%; margin: 0 7.5%;">
    <div style="text-align: center; padding-left: 50px;">
      <h1>
        <%= product.title %>
      </h1>
      <h4>
        <%= product.asin %>
      </h4>
      <table>
        <% product.props.forEach(prop=> {%>
          <tr>
            <td>
              <%= prop.label %>
            </td>
            <td>
              <%= prop.value %>
            </td>
          </tr>
          <% });%>
      </table>
    </div>
  </div>
</body>

</html>
